<h3> Flag Questions for Exams </h3>
<p>From here you can select a course (required), lab (optional), and topic (optional), and see the questions related to those selections.  You can "flag" a question for an exam, which can be used as an incentive for students, like potential bonus marks.</p>
</br>
<%= simple_form_for @result, url: set_flag_questions_path do |f| %>
	<div class = "row">
		<div class = "col-sm-4">
			<% if defined?(session[:flag_questions_course_id]) && !session[:flag_questions_course_id].blank? %>
      			<%= f.input :course_id, label: "Select a Course", collection: @courses, include_blank: false, selected: session[:flag_questions_course_id] %>
      		<% else %>
      			<%= f.input :course_id, label: "Select a Course", collection: @courses, include_blank: false %>
      		<% end %>	
    	</div>
    	<div class = "col-sm-4">
    		<% if defined?(session[:flag_questions_lab]) && !session[:flag_questions_lab].blank? %>
    			<%= f.input :lab, label: "Select a lab section", collection: @labs, selected: session[:flag_questions_lab], include_blank: true %>
    		<% else %>
	      		<%= f.input :lab, label: "Select a lab section", collection: @labs %>
	      	<% end %>
    	</div>
		<div class = "col-sm-4">
			<% if defined?(session[:flag_questions_topic]) && !session[:flag_questions_topic].blank? %>
				<%= f.input :name, label: "Select a topic", collection: @topics, selected: session[:flag_questions_topic], include_blank: true %>
			<% else %>
	      		<%= f.input :name, label: "Select a topic", collection: @topics %>
	      	<% end %>
    	</div>
    </div>
    <%= f.submit "Find Questions", class: "btn btn-medium btn-success" %>
<% end %>