
<html>
<head>
	<script type="text/javascript">
		function hidecreate(){
	          $("#morecreate").hide();
	          $("#lessbuttoncreate").hide();
	          $("#morebuttoncreate").show();
	        }
	    function showcreate(){
	          $("#morecreate").show();
	          $("#lessbuttoncreate").show();
	          $("#morebuttoncreate").hide();
	        }
	    function hidestudentcreate(){
	          $("#morestudentcreate").hide();
	          $("#lessbuttonstudentcreate").hide();
	          $("#morebuttonstudentcreate").show();
	        }
	    function showstudentcreate(){
	          $("#morestudentcreate").show();
	          $("#lessbuttonstudentcreate").show();
	          $("#morebuttonstudentcreate").hide();
	        }
	    function hidepractice(){
	          $("#morepractice").hide();
	          $("#lessbuttonpractice").hide();
	          $("#morebuttonpractice").show();
	        }
	    function showpractice(){
	          $("#morepractice").show();
	          $("#lessbuttonpractice").show();
	          $("#morebuttonpractice").hide();
	        }
	    function hidestudentpractice(){
	          $("#morestudentpractice").hide();
	          $("#lessbuttonstudentpractice").hide();
	          $("#morebuttonstudentpractice").show();
	        }
	    function showstudentpractice(){
	          $("#morestudentpractice").show();
	          $("#lessbuttonstudentpractice").show();
	          $("#morebuttonstudentpractice").hide();
	        }
	</script>
</head>
<body class = "portfolio">
	<h1>Welcome</h1>
	<% if user_signed_in? %>
		<div class = "row">
			<div class = "col-md-2">
				<p> So far you have done <%= @count %> game<% if !(@count== 1) %>s<% end %>  </p>
				<p> Your high score is <%= @percent %>% on <%= @number %> question<% if !(@number== 1) %>s<% end %> </p>
				<hr>
				<p><h3><b> My Courses</b></h3></p>
				<p> <%= link_to 'All', root_path %></p>
				<% @courses.each do |course| %>
					<p><%= link_to course.title + " - " + course.year, show_course_path(course) %></p>
				<% end %>
				<% if @user.has_role? :instructor %>
					<p><%= link_to 'Add New Course', new_course_path %></p>
				<% else %>
					<p><%= link_to 'Register for Another Course', new_student_course_path %></p>
				<% end %>
			</div>
			<div class = "col-md-10">
				<% if @user.has_role?(:instructor) %>
					<div class = "row">
						<h3 style = "margin: 5px;"> Creation </h3>
					</div>
					<div class = "row" style = "padding: 5px;">
						<div class = "col-md-3" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Course </h4>
						</div>
						<div class = "col-md-1" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Created </h4>
						</div>
						<div class = "col-md-1" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Submitted </h4>
						</div>
						<div class = "col-md-1" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Incorrect </h4>
						</div>
						<div class = "col-md-1" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Accepted </h4>
						</div>
						<div class = "col-md-1" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Revise </h4>
						</div>
						<div class = "col-md-1" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Pending </h4>
						</div>
					</div>
					<div class = "btn btn-small btn-primary" id = "morebuttoncreate" onclick = "showcreate()" >
						View All
					</div>
					<div id = "morecreate" style = "display: none">
						<%= render partial: 'shared/creations', collection: @courses %>
					</div>
					<div class = "btn btn-small btn-danger" id = "lessbuttoncreate" onclick = "hidecreate()" style = "display: none">
						Less
					</div>
					<div class = "row">
						<h3 style = "margin: 5px;"> Practice </h3>
					</div>
					<div class = "row" style = "padding: 5px;">
						<div class = "col-xs-2 col-sm-2 col-md-3" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Course </h4>
						</div>
						<div class = "col-xs-2 col-sm-2 col-md-1" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Attempted </h4>
						</div>
						<div class = "col-xs-2 col-sm-2 col-md-1" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Correct </h4>
						</div>
						<div class = "col-xs-2 col-sm-2 col-md-1" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Percent </h4>
						</div>
						<div class = "col-xs-2 col-sm-2 col-md-2" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Average Time</h4>
						</div>
					</div>
					<div class = "btn btn-small btn-primary" id = "morebuttonpractice" onclick = "showpractice()" >
						View All
					</div>
					<div id = "morepractice" style = "display: none">
						<%= render partial: 'shared/stats', collection: @courses %>
					</div>
					<div class = "btn btn-small btn-danger" id = "lessbuttonpractice" onclick = "hidepractice()" style = "display: none">
						Less
					</div>
				<% else %>
					<div class = "row is">
						<h3 style = "margin: 5px;"> Creation </h3>
					</div>
					<div class = "row" style = "padding: 5px;">
						<div class = "col-md-3" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Course </h4>
						</div>
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Created </h4>
						</div>
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Submitted </h4>
						</div>
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Correct </h4>
						</div>
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Percent </h4>
						</div>
					</div>
					<div class = "btn btn-small btn-primary" id = "morebuttonstudentcreate" onclick = "showstudentcreate()" >
						View All
					</div>
					<div id = "morestudentcreate" style = "display: none">
						<%= render partial: 'shared/studentcreations', collection: @courses %>
					</div>
					<div class = "btn btn-small btn-danger" id = "lessbuttonstudentcreate" onclick = "hidestudentcreate()" style = "display: none">
						Less
					</div>
					<div class = "row">
						<h3 style = "margin: 5px;"> Practice </h3>
					</div>
					<div class = "row" style = "padding: 5px;">
						<div class = "col-md-3" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Course </h4>
						</div>
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Attempted </h4>
						</div>
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Correct </h4>
						</div>
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Percent </h4>
						</div>
					</div>
					<div class = "btn btn-small btn-primary" id = "morebuttonstudentpractice" onclick = "showstudentpractice()" >
						View All
					</div>
					<div id = "morestudentpractice" style = "display: none">
						<%= render partial: 'shared/studentstats', collection: @courses %>
					</div>
					<div class = "btn btn-small btn-danger" id = "lessbuttonstudentpractice" onclick = "hidestudentpractice()" style = "display: none">
						Less
					</div>
				<% end %>
			</div>
		</div>
	<% end %>
</body>
</html>



