
  <%= simple_form_for @course_topic, :url => { action: "create", controller: "course_topics" } do |f| %>
  <div class="row">
    <div class = "col-md-6">
      <%= render partial: "course_topics", collection: @course_topics %>
    </div>
    </div>
    <div class="row">
    <div class = "col-md-6  col-sm-6">
    	<%= f.input :course_id, as: :hidden, input_html: {value: @course.id} %>
    	<%= f.input :topic_id, collection: @topics %>
    </div>
    </div>
    <div class="row">
    <div class="col-md-3">
    <%= f.submit "Add Topic", class: "btn btn-medium btn-success" %>
    </div>
</div>

  <% end %>
