
<h3>Adding New Topic to Quiz Nova</h3>
<p>Use the form below to create a new topic.</p>
<%= simple_form_for @topic, :url => { :action => "create" } do |f| %>
  <div class = "row">
    <div class = "col-md-6 col-sm-6">
      <%= f.input :name, label: "Topic Name" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= f.submit "Create Topic", class: "btn btn-medium btn-success" %>
    </div>
  </div>
<% end %>

<hr>

<h3>Linking Topics to Courses</h3>
<p>Select a course from the drop down menu, then add or remove topics to the course.</p> 

<div class="row">
  <%= simple_form_for @ct, :url => { :action => "create" } do |f| %>
    <div class = "col-md-6 col-sm-6">

      <%= f.input :course_id, :required => true, collection: @courses %>
      <hr />
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-md-12" id="class_topics">
  </div>
</div>
