<body>
	<% if flagquestions.exam == false %>
		<div class = "row" style = "border-bottom: 1px solid black; padding: 5px;">
			<div class = "col-md-2">
				<p><%= flagquestions.user.lname %>, <%= flagquestions.user.fname %></p>
			</div>
			<div class = "col-md-1">
				<% if !flagquestions.user.assistant && !flagquestions.user.instructor %>
					<p><%= flagquestions.user.studentnumber %></p>
				<% end %>
			</div>
			<div class = "col-md-1">
				<%= flagquestions.lab.name %>
			</div>
			<div class = "col-md-1">
				<%= Topic.find_by(:topic_id => flagquestions.topic_id).name %>
			</div>
			<div class = "col-md-2">
				<% if flagquestions.date_submitted.nil? %>
					<% flagquestions.date_submitted = (DateTime.now.to_time - 8.hours).to_datetime %>
					<% flagquestions.save %>
				<% end %>
				<%= flagquestions.date_submitted.strftime("%a %b %-d at %I:%M%p") %>
			</div>
			<div class = "col-md-1">
				<%= link_to "View", {controller: "questions", action: "flagview", id: flagquestions.id}, class: "btn btn-mdall btn-success" %>
			</div>
			<div class = "col-md-3 col-md-offset-1">
				<%=flagquestions.grade.html_safe %>
			</div>
		</div>
	<% else %>
		<div class = "row" style = "border-bottom: 1px solid black; padding: 5px;">
			<div class = "col-md-2">
				<p><%= flagquestions.user.lname %>, <%= flagquestions.user.fname %></p>
			</div>
			<div class = "col-md-1">
				<% if !flagquestions.user.assistant && !flagquestions.user.instructor %>
					<p><%= flagquestions.user.studentnumber %></p>
				<% end %>
			</div>
			<div class = "col-md-1">
				<%= flagquestions.lab.name %>
			</div>
			<div class = "col-md-1">
				<%= Topic.find_by(:topic_id => flagquestions.topic_id).name %>
			</div>
			<div class = "col-md-2">
				<% if flagquestions.date_submitted.nil? %>
					<% flagquestions.date_submitted = (DateTime.now.to_time - 8.hours).to_datetime %>
					<% flagquestions.save %>
				<% end %>
				<%= flagquestions.date_submitted.strftime("%a %b %-d at %I:%M%p") %>
			</div>
			<div class = "col-md-1">
				<%= link_to "View", {controller: "questions", action: "flagview", id: flagquestions.id}, class: "btn btn-mdall btn-info" %>
			</div>
			<div class = "col-md-1">
				Flagged
			</div>
			<div class = "col-md-3">
				<%=flagquestions.grade.html_safe %>
			</div>
		</div>
	<% end %>
</body>