<% if questions.visible %>
	<tr>
		<td>
			<%=questions.qtext.html_safe%>
		</td>
		<td>
			<% questions.courses.each do |c| %>
			<p><%= c.title %> - <%= c.year %></p>
			<% end %>
		</td>
		<td>
			<%= questions.topic.name%>
		</td>
		<td>
			<%= link_to "View", {controller: "questions", action: "view", id: questions.id}, class: "btn btn-mdall btn-info" %>
		</td>
		<%if !questions.submitted %>
			<td>
				<%= link_to "Submit", {controller: "questions", action: "submit", id: questions.id}, class: "btn btn-mdall btn-success" %>
				<%= link_to "Delete", {controller: "questions", action: "hide", id: questions.id}, class: "btn btn-mdall btn-danger" %>
				<%= link_to "Edit", {controller: "questions", action: "edit", id: questions.id}, class: "btn btn-mdall btn-primary" %>
			</td>
		<% else %>
			<% if !(questions.grade == "Review Pending" || questions.grade == "Correct" || questions.grade == "Incorrect") %>
				<td>
					<%= link_to "Edit", {controller: "questions", action: "edit", id: questions.id}, class: "btn btn-mdall btn-primary" %>
				</td>
				<td>
					<%= link_to "Resubmit", {controller: "questions", action: "submit", id: questions.id}, class: "btn btn-mdall btn-success" %>
				</td>
				<td>
					<%=questions.grade.html_safe %>
				</td>
			<% else %>
				<td>
					<%=questions.grade.html_safe %>
				</td>
			<% end %>
		<% end %>
		<td>
			<% if questions.exam %>
				Yes
			<% else %>
				No
			<% end %>
		</td>
	</td>
<% end %>

