<div class = "row" style = "padding: 5px; margin-bottom: 5px;">	
	<div class = "col-md-2" style = "border-bottom: 1px solid black;">
		<p> <%= stats.name %> </p>
	</div>
	<div class = "col-md-2" style = "border-bottom: 1px solid black;">
		<p style = "display: inline;" class="sum">
			<%= User.with_role(:student, @lab.course).lab_student_practices(@lab, stats).count %>
			<% unless User.with_role(:student, @lab.course).joins(:labs).where("labs.id = ?", @lab.id).count == 0 %>
				<p class="average" style = "display: inline;">(<%= (User.with_role(:student, @lab.course).lab_student_practices(@lab, stats).count.to_f/User.with_role(:student, @lab.course).joins(:labs).where("labs.id = ?", @lab.id).count).round(1) %>)</p>
			<% else %>
				<p class="average" style = "display: inline;">(N/A)</p>
			<% end %>
		</p>
	</div>
	<div class = "col-md-2" style = "border-bottom: 1px solid black;">
		<p style = "display: inline;" class="sum">
			<%= User.with_role(:student, @lab.course).lab_student_practices_correct(@lab, stats).count %>
			<% unless User.with_role(:student, @lab.course).joins(:labs).where("labs.id = ?", @lab.id).count == 0 %>
				<p class="average" style = "display: inline;">(<%= (User.with_role(:student, @lab.course).lab_student_practices_correct(@lab, stats).count.to_f/User.with_role(:student, @lab.course).joins(:labs).where("labs.id = ?", @lab.id).count).round(1) %>)</p>
			<% else %>
				<p class="average" style = "display: inline;">(N/A)</p>
			<% end %>
		</p>
	</div>
	<div class = "col-md-2" style = "border-bottom: 1px solid black;">
		<p style = "display: inline;" class="sum">
			<% if !(User.with_role(:student, @lab.course).lab_student_practices(@lab, stats).count == 0) %>
				<p class="average" style = "display: inline;">( <%= (User.with_role(:student, @lab.course).lab_student_practices_correct(@lab, stats).count*100/User.with_role(:student, @lab.course).lab_student_practices(@lab, stats).count*100)/100 %>%)</p>
			<% else %>
				<p class="average" style = "display: inline;">(N/A)</p>
			<% end %>
		</p>
	</div>
	<div class = "col-md-2" style = "border-bottom: 1px solid black;">
		<p style = "display: inline;" class="sum">
			<% if !(User.with_role(:student, @lab.course).lab_student_practices(@lab, stats).count == 0) %>
				<p class="average" style = "display: inline;">( <%= (User.with_role(:student, @lab.course).lab_student_practices(@lab, stats).sum(:totaltime)*100/User.with_role(:student, @lab.course).lab_student_practices(@lab, stats).count*100)/10000 %> seconds)</p>
			<% else %>
				<p class="average" style = "display: inline;">(N/A)</p>
			<% end %>
		</p>
	</div>
</div>
