<div class = "row" style = "padding: 5px; margin-bottom: 5px;">	
	<div class = "col-md-2" style = "border-bottom: 1px solid black;">
		<p> My Results </p>
	</div>
	<div class = "col-md-2" style = "border-bottom: 1px solid black;">
		<p> <%= studentstats.name %> </p>
	</div>
	<div class = "col-md-2" style = "border-bottom: 1px solid black;">
		<% unless @lab.students.count == 0 %>
			<p style = "display: inline;"><%= @user.practices.includes(:question).where("questions.topic_id = ? AND practices.lab_id = ?", studentstats.id, @lab.id).references(:questions).count %> <p style = "display: inline;color: blue;">(<%= @lab.practices.includes(:question).where('questions.topic_id = ?', studentstats.id).references(:questions).count/@lab.students.count %>)</p></p>
		<% else %>
			<p> ~ N/A ~ </p>
		<% end %>
	</div>
	<div class = "col-md-2" style = "border-bottom: 1px solid black;">
		<% unless @lab.students.count == 0 %>
			<p style = "display: inline;"><%= @user.practices.includes(:question).where("questions.topic_id = ? AND practices.lab_id = ? AND practices.correct = TRUE", studentstats.id, @lab.id).references(:questions).count %> <p style = "display: inline;color: blue;">(<%= @lab.practices.includes(:question).where('practices.correct = ? AND questions.topic_id = ?', true, studentstats.id).references(:question).count/@lab.students.count %>)</p></p>
		<% else %>
			<p> ~ N/A ~ </p>
		<% end %>
	</div>
	<div class = "col-md-2" style = "border-bottom: 1px solid black;">
		<% if !(@user.practices.includes(:question).where("questions.topic_id = ? AND practices.lab_id = ?", studentstats.id, @lab.id).references(:questions).count == 0) %>
			<p style = "display: inline;">
				<%= (@user.practices.includes(:question).where("questions.topic_id = ? AND practices.lab_id = ? AND practices.correct = TRUE", studentstats.id, @lab.id).references(:questions).count*100/@user.practices.includes(:question).where("practices.lab_id = ?", @lab.id).references(:questions).count*100)/100 %>%
				<p style = "display: inline;color: blue;">(<%= (@lab.practices.includes(:question).where('practices.correct = ? AND questions.topic_id = ? ', true, studentstats.id).references(:questions).count*100/@lab.practices.includes(:question).where('questions.topic_id = ?', studentstats.id).references(:questions).count*100)/100 %>%)</p>
			</p>
		<% elsif !(@lab.practices.includes(:question).where('questions.topic_id = ?', studentstats.id).references(:questions).count == 0) %>
			<p style = "display: inline;"> ~ N/A ~ <p style = "display: inline;color: blue;">(<%= (@lab.practices.includes(:question).where('practices.correct = ? AND questions.topic_id = ? ', true, studentstats.id).references(:question).count*100/@lab.practices.includes(:question).where('questions.topic_id = ?', studentstats.id).references(:questions).count*100)/100 %>%)</p></p>
		<% else %>
			<p> ~ N/A ~ </p>
		<% end %>
	</div>
	<div class="col-md-2"></div>
</div>