<div class = "row" style = "padding: 5px; margin-bottom: 5px;">	
	<div class = "col-md-2" style = "border-bottom: 1px solid black;">
		<p style = "display: inline;">  <p><%= studentstats.name %></p> </p>
	</div>
	<div class = "col-md-2" style = "border-bottom: 1px solid black;">
		<% unless User.with_role(:student, @course).count == 0 %>
			<p style = "display: inline;"><%= @user.practices.includes(:question).where("questions.topic_id = ? AND practices.course_id = ?", studentstats.id, @course.id).references(:questions).count %> <p class="average" style = "display: inline;">(<%= (User.with_role(:student, @course).course_student_practices(@course, studentstats).count.to_f/User.with_role(:student, @course).count).round(1) %>)</p></p>
		<% else %>
			<p style = "display: inline;"><p>N/A</p> </p>
		<% end %>
	</div>
	<div class = "col-md-2" style = "border-bottom: 1px solid black;">
		<% unless User.with_role(:student, @course).count == 0 %>
			<p style = "display: inline;"><%= @user.practices.includes(:question).where("questions.topic_id = ? AND practices.course_id = ? AND practices.correct = TRUE", studentstats.id, @course.id).references(:questions).count %> <p class="average" style = "display: inline;">(<%= (User.with_role(:student, @course).course_student_practices_correct(@course, studentstats).count.to_f/User.with_role(:student, @course).count).round(1) %>)</p></p>
		<% else %>
			<p style = "display: inline;">  <p>N/A</p> </p>
		<% end %>
	</div>
	<div class = "col-md-2" style = "border-bottom: 1px solid black;">
		<% if !(@user.practices.includes(:question).where("questions.topic_id = ? AND practices.course_id = ?", studentstats.id, @course.id).references(:questions).count == 0) %>
			<p style = "display: inline;">
				<%= (@user.practices.includes(:question).where("questions.topic_id = ? AND practices.course_id = ? AND practices.correct = TRUE", studentstats.id, @course.id).references(:questions).count*100/@user.practices.includes(:question).where("practices.course_id = ?", @course.id).references(:questions).count*100)/100 %>%
				<p class="average" style = "display: inline;">(<%= (User.with_role(:student, @course).course_student_practices_correct(@course, studentstats).count*100/User.with_role(:student, @course).course_student_practices(@course, studentstats).count*100)/100 %>%)</p>
			</p>
		<% elsif !(User.with_role(:student, @course).course_student_practices(@course, studentstats).count == 0) %>
			<p style = "display: inline;">N/A<p class="average" style = "display: inline;">(<%= (User.with_role(:student, @course).course_student_practices_correct(@course, studentstats).count*100/User.with_role(:student, @course).course_student_practices(@course, studentstats).count*100)/100 %>%)</p></p>
		<% else %>
			<p style = "display: inline;"> <p>N/A</p></p>
		<% end %>
	</div>
</div>