<html>
<head>
	<script type="text/javascript">
		function hidecreate(){
	          $("#morecreate").hide();
	          $("#lessbuttoncreate").hide();
	          $("#morebuttoncreate").show();
	        }
	    function showcreate(){
	          $("#morecreate").show();
	          $("#lessbuttoncreate").show();
	          $("#morebuttoncreate").hide();
	        }
	    function hidestudentcreate(){
	          $("#morestudentcreate").hide();
	          $("#lessbuttonstudentcreate").hide();
	          $("#morebuttonstudentcreate").show();
	        }
	    function showstudentcreate(){
	          $("#morestudentcreate").show();
	          $("#lessbuttonstudentcreate").show();
	          $("#morebuttonstudentcreate").hide();
	        }
	    function hidepractice(){
	          $("#morepractice").hide();
	          $("#lessbuttonpractice").hide();
	          $("#morebuttonpractice").show();
	        }
	    function showpractice(){
	          $("#morepractice").show();
	          $("#lessbuttonpractice").show();
	          $("#morebuttonpractice").hide();
	        }
	    function hidestudentpractice(){
	          $("#morestudentpractice").hide();
	          $("#lessbuttonstudentpractice").hide();
	          $("#morebuttonstudentpractice").show();
	        }
	    function showstudentpractice(){
	          $("#morestudentpractice").show();
	          $("#lessbuttonstudentpractice").show();
	          $("#morebuttonstudentpractice").hide();
	        }
	</script>
</head>
<body class = "portfolio">
<h1><%= @course.title %></h1>
	<% if user_signed_in? %>
		<div class = "row">
			<div class = "col-md-3">
				<p> So far you have done <%= @count %> game<% if !(@count== 1) %>s<% end %>  </p>
				<p> Your high score is <%= @percent %>% on <%= @number %> question<% if !(@number== 1) %>s<% end %> </p>
				<hr>
				<p><h3><b> My Courses</b></h3></p>
				<p> <%= link_to 'All', root_path %></p>
				<% @courses.each do |course| %>
					<% if params[:id].to_i == course.id %>
						<p><b><%= link_to course.title + " - " + course.year, show_course_path(course) %></b></p>
						<ul>
							<% if @user.has_role? :instructor %>
								<% course.labs.each do |lab| %>
									<li><%= link_to lab.name, show_lab_path(lab) %></li>
								<% end %>
								<li><%= link_to 'Add New Lab', new_lab_path(course) %></li>
							<% else %>
								<% if @lab.nil? %>
									<li>Register for a Lab</li>
								<% else %>
									<li><%= link_to @lab.name, show_lab_path(@lab) %></li>
								<% end %>
							<% end %>
						</ul>
					<% else %>
						<p><%= link_to course.title + " - " + course.year, show_course_path(course) %></p>
					<% end %>
				<% end %>
				<% if @user.has_role? :instructor %>
					<p><%= link_to 'Add New Course', new_course_path %></p>
				<% else %>
					<p>Register for Another Course</p>
				<% end %>
			</div>
			<div class = "col-md-9">
				<% if @user.assistant || @user.instructor %>
					<div class = "row">
						<h3 style = "margin: 5px;"> Creation </h3>
					</div>
					<div class = "row" style = "padding: 5px;">
						<div class = "col-md-3" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Labs </h4>
						</div>
						<div class = "col-md-3" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Topic </h4>
						</div>
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Created </h4>
						</div>
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Submitted </h4>
						</div>
					</div>
					<div class = "row" style = "padding: 5px; margin-bottom: 5px;">
						<div class = "col-md-3" style = "border-bottom: 1px solid black;">
							<p> All </p>
						</div>
						<div class = "col-md-3" style = "border-bottom: 1px solid black;">
							<p> Overall </p>
						</div>
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<p> <%= @created %> </p>
						</div>
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<p> <%= @submitted %> </p>
						</div>
					</div>
					<div class = "btn btn-small btn-primary" id = "morebuttoncreate" onclick = "showcreate()" >
						More
					</div>
					<div id = "morecreate" style = "display: none">
						<%= render partial: 'courses/shared/creations', collection: @topics %>
					</div>
					<div class = "btn btn-small btn-danger" id = "lessbuttoncreate" onclick = "hidecreate()" style = "display: none">
						Less
					</div>
					<div class = "row">
						<h3 style = "margin: 5px;"> Practice </h3>
					</div>
					<div class = "row" style = "padding: 5px;">
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Labs </h4>
						</div>
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Topic </h4>
						</div>
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Attempted </h4>
						</div>
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Correct </h4>
						</div>
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Percent </h4>
						</div>
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Average Time</h4>
						</div>
					</div>
					<div class = "row" style = "padding: 5px; margin-bottom: 5px;">
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<p> All </p>
						</div>
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<p> Overall </p>
						</div>
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<p> <%= Practice.where(course_id: @course.id).count %> </p>
						</div>
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<p> <%= Practice.where(correct: true, course_id: @course.id).count %> </p>
						</div>
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<% if !(Practice.where(course_id: @course.id).count == 0) %>
								<p> <%= (Practice.where(correct: true, course_id: @course.id).count*100/Practice.where(course_id: @course.id).count*100)/100 %>%</p>
							<% else %>
								<p> ~ N/A ~ </p>
							<% end %>
						</div>
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<% if !(Practice.where(course_id: @course.id).count == 0) %>
								<p> <%= (Practice.sum(:totaltime, course_id: @course.id)*100/Practice.where(course_id: @course.id).count*100)/10000 %> seconds</p>
							<% else %>
								<p> ~ N/A ~ </p>
							<% end %>
						</div>
					</div>
					<div class = "btn btn-small btn-primary" id = "morebuttonpractice" onclick = "showpractice()" >
						More
					</div>
					<div id = "morepractice" style = "display: none">
						<%= render partial: 'courses/shared/stats', collection: @topics %>
					</div>
					<div class = "btn btn-small btn-danger" id = "lessbuttonpractice" onclick = "hidepractice()" style = "display: none">
						Less
					</div>
					<%= link_to "Detailed practice information", "/stats", class: "btn btn-primary btn-primary" %>
				<% else %>
					<div class = "row">
						<h3 style = "margin: 5px;"> Creation </h3>
					</div>
					<div class = "row" style = "padding: 5px;">
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Labs </h4>
						</div>
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Topic </h4>
						</div>
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Created </h4>
						</div>
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Submitted </h4>
						</div>
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Correct </h4>
						</div>
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Percent Correct </h4>
						</div>
					</div>
					<div class = "row" style = "padding: 5px; margin-bottom: 5px;">
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<p> All</p>
						</div>
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<p> Overall </p>
						</div>
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<p> <%= Question.where(user_id: @user.user_id, course_id: @course.id).count %> </p>
						</div>
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<p> <%= Question.where(user_id: @user.user_id, submitted: true, course_id: @course.id).count%> </p>
						</div>
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<p> <%= Question.where(user_id: @user.user_id, submitted: true, grade: "Correct", course_id: @course.id).count%> </p>
						</div>
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<% if !(Question.where(user_id: @user.user_id, submitted: true, course_id: @course.id).count == 0) %>
								<p> <%= Question.where(user_id: @user.user_id, submitted: true, grade: "Correct").count*100/Question.where(user_id: @user.user_id, submitted: true, course_id: @course.id, course_id: @course.id).count*100/100%>% </p>
							<% else %>
								<p> ~ N/A ~ </p>
							<% end %>
						</div>
					</div>
					<div class = "btn btn-small btn-primary" id = "morebuttonstudentcreate" onclick = "showstudentcreate()" >
						More
					</div>
					<div id = "morestudentcreate" style = "display: none">
						<%= render partial: 'courses/shared/studentcreations', collection: @topics %>
					</div>
					<div class = "btn btn-small btn-danger" id = "lessbuttonstudentcreate" onclick = "hidestudentcreate()" style = "display: none">
						Less
					</div>
					<div class = "row">
						<h3 style = "margin: 5px;"> Practice </h3>
					</div>
					<div class = "row" style = "padding: 5px;">
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Labs </h4>
						</div>
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Topic </h4>
						</div>
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Attempted </h4>
						</div>
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Correct </h4>
						</div>
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<h4 style = "margin: 5px;"> Percent </h4>
						</div>
					</div>
					<div class = "row" style = "padding: 5px; margin-bottom: 5px;">
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<p> <%= @course.title %> </p>
						</div>
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<p> Overall </p>
						</div>
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<p> <%= Practice.where(user_id: @user.user_id, course_id: @course.id).count %> </p>
						</div>
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<p> <%= Practice.where(correct: true, user_id: @user.user_id, course_id: @course.id).count %> </p>
						</div>
						<div class = "col-md-2" style = "border-bottom: 1px solid black;">
							<% if !(Practice.where(user_id: @user.user_id, course_id: @course.id).count == 0) %>
								<p> <%= (Practice.where(correct: true, user_id: @user.user_id, course_id: @course.id).count*100/Practice.where(user_id: @user.user_id, course_id: @course.id).count*100)/100 %>%</p>
							<% else %>
								<p> ~ N/A ~ </p>
							<% end %>
						</div>
					</div>
					<div class = "btn btn-small btn-primary" id = "morebuttonstudentpractice" onclick = "showstudentpractice()" >
						More
					</div>
					<div id = "morestudentpractice" style = "display: none">
						<%= render partial: 'courses/shared/studentstats', collection: @topics %>
					</div>
					<div class = "btn btn-small btn-danger" id = "lessbuttonstudentpractice" onclick = "hidestudentpractice()" style = "display: none">
						Less
					</div>
				<% end %>
			</div>
		</div>
	<% end %>
</body>
</html>